---
import About from "@components/About.astro";
import Layout from "@layouts/Layout.astro";
import Navbar from "@layouts/Navbar.astro";
---

<Layout>
  <Navbar slot="navbar" />
  <About slot="hero" />
  <main slot="main"></main>
</Layout>
