<section class="pt-8 pb-16 md:pb-16 px-4 text-white">
  <div class="max-w-6xl mx-auto flex flex-col md:flex-row items-center gap-10">
    <div class="md:w-2/5 flex justify-center">
      <img
        src="/logo.webp"
        alt="Logo da Tutoria BTI"
        class="max-w-sm h-auto drop-shadow-lg object-fill -my-14"
      />
    </div>
    <div class="md:w-3/5 text-center md:text-left">
      <h2 class="text-3xl font-bold mb-3">O que é o projeto?</h2>
      <p class="text-lg leading-relaxed mb-4">
        A tutoria do BTI é um projeto que tem como objetivo principal auxiliar
        os ingressantes do curso por meio do vínculo com veteranos. Esse auxílio
        pode ter natureza técnica, emocional ou pedagógica. Diferentemente da
        monitoria, que tem o foco em auxiliar o estudante em determinadas
        disciplinas, a tutoria fornece suporte mais amplo e direcionado às
        necessidades individuais dos estudantes.
      </p>
      <div
        class="flex flex-col sm:flex-row gap-4 justify-center md:justify-start"
      >
        <a
          href="https://discord.gg/5RM8ngaqWv"
          target="_blank"
          class:list={[
            "bg-transparent border-2 border-blue-400 hover:bg-blue-400/20",
            "text-blue-200 font-bold py-3 px-8 rounded-lg transition-all",
            "duration-300",
          ]}
        >
          Quero ser tutorado!
        </a>
      </div>
    </div>
  </div>
</section>
