---
import type { Link } from "@pages/data";
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"a"> {
  link: Link;
}

const { class: className, link, ...props } = Astro.props;
const { href, title, icon, target, class: linkClassName } = link;
---

<a
  href={href}
  target={target}
  class:list={[
    "inline-flex items-center justify-center gap-2 text-white",
    "font-semibold py-2 px-6 rounded-full transition",
    "bg-blue-600 hover:bg-blue-900",
    className,
    linkClassName,
  ]}
  {...props}
>
  {icon && <i class={icon} />}
  <span class="whitespace-nowrap">{title}</span>
</a>
