<footer
  class:list={[
    "bg-gradient-to-r from-gray-800 to-gray-900 text-white",
    "text-center py-10 shadow-lg pb-12",
  ]}
>
  <div
    class="flex flex-col items-center not-md:items-start md:mx-auto px-4 md:pl-4"
  >
    <h4 class="text-lg not-md:text-sm font-medium mb-3">
      Projeto Tutoria IMD<span class="not-md:hidden"> - 2025</span>
    </h4>
    <p
      class:list={[
        "text-md not-md:text-sm block md:gap-2",
        "not-md:flex-col text-gray-300 not-md:max-w-2/3",
        "not-md:text-start max-w-1/2",
      ]}
    >
      Conheça nossos repositórios no
      <a
        href="https://github.com/tutoria-imd"
        target="_blank"
        rel="noopener noreferrer"
        class:list={[
          "items-center gap-2 text-blue-300 hover:text-blue-200",
          "transition transform hover:scale-105 inline-block",
        ]}
      >
        <i class="fab fa-github"></i> GitHub
      </a>
    </p>
  </div>
</footer>
