---
import "@styles/global.css";
import ScrollToTop from "@components/ScrollToTop.astro";
import Footer from "./Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/logo.webp" />
    <meta name="generator" content={Astro.generator} />
    <title>Tutoria IMD</title>

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;800&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
      integrity="sha512-..."
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body class="bg-gray-100 text-gray-800">
    <ScrollToTop />
    <header class="text-white bg-gradient-to-br from-blue-950 to-blue-700">
      <slot name="navbar" />
      <slot name="hero" />
    </header>
    <slot name="main" />
    <Footer />
  </body>
</html>
